*{
    padding: 0;
    margin: 0;
    border: 0;
}

*, *::before, *::after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav, footer, header, aside{display: block;}

html, body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited, a:hover {text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&family=Open+Sans:wght@400;600&family=Source+Sans+Pro&display=swap');

/* ------------------------------------------------------------ */

.wrapper{
    background-color: #E5E5E5;
}

/* <!-- Header start --> */
.header-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1366px;
    margin: 0 auto;
    padding: 25px 100px;
    background-color: #F7F7F7;
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-size: 16px;
}

.header__logo {
    max-height: 40px;
}

/* .nav {
   
} */

.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__list-item {
    height: 30px;
}

.nav__link {
    display: inline-block;
    color: #0E091B;
    margin: 8px 13px;
    width: 100%;
    height: 100%;
    text-align: center;
}

.nav__link-active{
    background-image: url('../img/section.svg');
    background-repeat: no-repeat;
    background-position: center 1.3em;
    /* position: absolute; */
    /* border-image: url('../img/section.svg'); */
}

.nav__link:hover{
    background-image: url('../img/section.svg');
    background-repeat: no-repeat;
    background-position: center 1.3em;
    /* transition: 0.2s; */
}

/* .icons {
} */

.icons__item {
    padding-right: 25px;
}

.icons__item:last-child {
    padding: 0px;
}
/* <!-- Header end --> */

/* <!-- Conteiner start --> */
.conteiner {
    display: flex;
    width: 1366px;
    margin: 0 auto;
    padding: 80px 0;
}

.siderbar-wrapper {
    background: #151413;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    width: 22%;
}

/* .siderbar {
    background: #151413;
    font-family: 'Nunito';
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    width: 22%;
} */

.siderbar-logo {
margin: 30px 0 0 50px;
}

.siderbar__block {
    padding: 30px 0 25px 50px;
    border-bottom: 1px solid gray;
}

.siderbar__list-item {
    line-height: 50px;
}

.siderbar__link {
    color: #FFFDFC;
}

.siderbar__link-active {
    border-bottom: 1px solid #DC5B34;
}

.siderbar__link:hover {
    border-bottom: 1px solid #DC5B34;
}

.social {
    margin: 30px 50px;
}

.social__item {
    margin-right: 25px;
}

/* <!-- Conteiner end --> */


